<header>
    <h1>Librería Tres Perritos</h1>
</header>

<div class="container">
    <p>
        El cuarto puesto fue el de Jage en el cual se tenian diversos libros, entre algunos de ellos estan algunas antologia sobre algunas historias
        de H.P Loveracft como en algunos puestos pasados, tambien tenian relatos, libros de fantasias y muchos libros mas, en este puesto se tenia un 
        espacio en el cual tenian libros de pasta dura y otro apartado de libros de pasta normal, el señor que atendia nos comento que hacen entregas a domicilio.
    </p>
    
    <div class="menu">
        <!-- Imagen 1 -->
        <div class="menu-item">
            <img src="img/cuartopuesto.jpg" alt="Vista de la librería" class="gallery-img">
        </div>
        
    </div>
</div>