<header>
    <h1>Stands Editoriales</h1>
</header>

<div class="container">
    <p>
        En este puesto que es el sexto vimos libros que eran cuentos extranjeros, fabulas al igual que los libros 
        pareciaban bastante interesantes y de segunda mano.
        
    </p>
    
    <div class="menu">
        <!-- Imagen 1 -->
        <div class="menu-item">
            <img src="img/sexto1.jpg" alt="Vista de la librería" class="gallery-img">
        </div>
        
        <!-- Imagen 2 -->
        <div class="menu-item">
            <img src="img/sexto2.jpg" alt="Productos disponibles" class="gallery-img">
        </div>

        <div class="menu-item">
            <img src="img/sexto3.jpg" alt="Productos disponibles" class="gallery-img">
        </div>
    
    </div>
</div>
