<header>
    <h1>Libros TecNMS</h1>
</header>

<div class="container">
    <p>
        En este puesto habian estudiantes del tecnm, en el cual se tenian libros de diferentes temas y los libros eran bastante interesantes
        ya que tenian de todo tipo de libros y temas.
        
    </p>
    
    <div class="menu">
        <!-- Imagen 1 -->
        <div class="menu-item">
            <img src="img/septimo1.jpg" alt="Vista de la librería" class="gallery-img">
        </div>  
    </div>
</div>