<header>
    <h1>Libros Tecnologia</h1>
</header>

<div class="container">
    <p>
        En este puesto vendian libros de tecnologia, en el cual vendian libros de programacion, sistemas operativos, 
        redes, hardware, al igual que vendian material de sistemas electricos como arduinos, raspberry pi, etc.

        
    </p>
    
    <div class="menu">
        <!-- Imagen 1 -->
        <div class="menu-item">
            <img src="img/octavo1.jpg" alt="Vista de la librería" class="gallery-img">
        </div>  

        <div class="menu-item">
            <img src="img/octavo2.jpg" alt="Vista de la librería" class="gallery-img">
        </div>  

        <div class="menu-item">
            <img src="img/octavo3.jpg" alt="Vista de la librería" class="gallery-img">
        </div>  
    </div>
</div>