<header>
    <h1>Librería Julieta Fierro</h1>
</header>

<div class="container">
    <p>
        El segundo puesto que visitamos fue el el de la Liberia Julieta Fierro o Fondo de cultura economica, en el cual tenian diversos libres, algunos sobre mitologias, tenian desde
        la mitologia griega, japonesa, nordica, africa y muchas mas, tambien tenian libros sobre h.p lovecraft y muchos libros mas.
    </p>
    
    <div class="menu">
        <!-- Imagen 1 -->
        <div class="menu-item">
            <img src="img/segundopuesto 1.jpg" alt="Vista de la librería" class="gallery-img">
        </div>
        
        <!-- Imagen 2 -->
        <div class="menu-item">
            <img src="img/segundopuesto 2.jpg" alt="Productos disponibles" class="gallery-img">
        </div>
        
        <!-- Imagen 3 -->
        <div class="menu-item">
            <img src="img/segundopuesto 3.jpg" alt="Detalles de la librería" class="gallery-img">
        </div>
    </div>
</div>