<header>
    <h1>De Culto</h1>
</header>

<div class="container">
    <p>
        El quinto puesto que visitamos fue el "Del Culto", en el cual no vendian libros, pero vendian pines, plumas, cuardernos, etc.
        era un puesto sencillo sin mucho que ver con los libros, pero estaban bonitos los productos que vendian.
    </p>
    
    <div class="menu">
        <!-- Imagen 1 -->
        <div class="menu-item">
            <img src="img/quintopuesto 1.jpg" alt="Vista de la librería" class="gallery-img">
        </div>
        
        <!-- Imagen 2 -->
        <div class="menu-item">
            <img src="img/quintopuesto 3.jpg" alt="Productos disponibles" class="gallery-img">
        </div>
    
    </div>
</div>