<header>
    <h1>Librería Tres Perritos</h1>
</header>

<div class="container">
    <p>El primer puesto que visitamos fue el de la librería de los tres perritos la cual tenía diferentes libros y no solo eso, también tenían stickers, plumas, cuadernos, etc. Vendían bastantes cosas y al parecer por la compra de algo de ahí te daban una galleta de la fortuna.</p>
    
    <div class="menu">
        <!-- Imagen 1 -->
        <div class="menu-item">
            <img src="img/primerpuesto 1.jpg" alt="Vista de la librería" class="gallery-img">
        </div>
        
        <!-- Imagen 2 -->
        <div class="menu-item">
            <img src="img/primerpuesto 2.jpg" alt="Productos disponibles" class="gallery-img">
        </div>
        
        <!-- Imagen 3 -->
        <div class="menu-item">
            <img src="img/primerpuesto 3.jpg" alt="Detalles de la librería" class="gallery-img">
        </div>
    </div>
</div>