<header>
    <h1>Libros TecNMS</h1>
</header>

<div class="container">
    <p>
        En este puesto vendian libros de diversos temas como novelas de ciencia ficcion, libros de fabulas para niños
        y libros de cuentos extranjeros.

        
    </p>
    
    <div class="menu">
        <!-- Imagen 1 -->
        <div class="menu-item">
            <img src="img/noveno1.jpg" alt="Vista de la librería" class="gallery-img">
        </div>  

        <div class="menu-item">
            <img src="img/noveno2.jpg" alt="Vista de la librería" class="gallery-img">
        </div>  

        <div class="menu-item">
            <img src="img/noveno3.jpg" alt="Vista de la librería" class="gallery-img">
        </div>  
    </div>
</div>