<header>
    <h1>Librería Julieta Fierro</h1>
</header>

<div class="container">
    <p>
        El tercer puesto que visitamos era uno muy interesante ya que tenian muchos libres de diferentes temas, como libros de autoayuda, de superacion
        emocional y algunos relatos.
    </p>
    
    <div class="menu">
        <!-- Imagen 1 -->
        <div class="menu-item">
            <img src="img/tercerpuesto 1.jpg" alt="Vista de la librería" class="gallery-img">
        </div>
        
        <!-- Imagen 2 -->
        <div class="menu-item">
            <img src="img/tercerpuesto 2.jpg" alt="Productos disponibles" class="gallery-img">
        </div>
        
        <!-- Imagen 3 -->
        <div class="menu-item">
            <img src="img/tercerpuesto 3.jpg" alt="Detalles de la librería" class="gallery-img">
        </div>
    </div>
</div>