<div class="container about-container">
    <!-- Hero Section -->
    <section class="hero-section">
      <div class="hero-container">
        <div class="hero-content">
          <h1 class="hero-title">Feria del Libro 2023</h1>
          <p class="hero-description">Un espacio para celebrar la literatura, conocer autores y descubrir nuevas historias.</p>
        </div>
        <div class="hero-image-container">
          <img src="img/roca.jpeg" alt="Equipo">
        </div>
      </div>
    </section>
  
    <!-- Gallery Section -->
    <section>
      <h2 class="section-title">Stands</h2>
      <div class="gallery-grid">
        <div class="gallery-item">
          <div class="gallery-content">
            <h3 class="gallery-title">TRES PERRITOS</h3>
            <a 
              [routerLink]="['tresperritos']" 
              routerLinkActive="active" >
              Ver mas
            </a>
          </div>
        </div>
        <div class="gallery-item">
          <div class="gallery-content">
            <h3 class="gallery-title">JULIETA FIERROS</h3>
            <a 
              [routerLink]="['julieta']" 
              routerLinkActive="active" >
              Ver mas
            </a>
          </div>
        </div>
        <div class="gallery-item">
          <div class="gallery-content">
            <h3 class="gallery-title">Seguimos sin saber el nombre</h3>
            <a 
              [routerLink]="['libreriaX']" 
              routerLinkActive="active" >
              Ver mas
            </a>
          </div>
        </div>
        <div class="gallery-item">
          <div class="gallery-content">
            <h3 class="gallery-title">JAGE</h3>
            <a 
              [routerLink]="['jage']" 
              routerLinkActive="active" >
              Ver mas
            </a>
          </div>
        </div>
        <div class="gallery-item">
          <div class="gallery-content">
            <h3 class="gallery-title">De culto</h3>
            <a 
              [routerLink]="['culto']" 
              routerLinkActive="active" >
              Ver mas
            </a>
          </div>
        </div>
        <div class="gallery-item">
          <div class="gallery-content">
            <h3 class="gallery-title">Stands editoriales</h3>
            <a 
              [routerLink]="['StandsEditoriales']" 
              routerLinkActive="active" >
              Ver mas
            </a>
          </div>
        </div>
        <div class="gallery-item">
          <div class="gallery-content">
            <h3 class="gallery-title">Libros del TecNM</h3>
            <a 
              [routerLink]="['TecNM']" 
              routerLinkActive="active" >
              Ver mas
            </a>
          </div>
        </div>
        <div class="gallery-item">
          <div class="gallery-content">
            <h3 class="gallery-title">Libros de tecnologia</h3>
            <a 
              [routerLink]="['Tecnologia']" 
              routerLinkActive="active" >
              Ver mas
            </a>
          </div>
        </div>
        <div class="gallery-item">
          <div class="gallery-content">
            <h3 class="gallery-title">Libros varios</h3>
            <a 
              [routerLink]="['varios']" 
              routerLinkActive="active" >
              Ver mas
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  